{% extends 'base.html.twig' %}

{% block body %}
    <h4>Tables :</h4>
    <a href="http://localhost:8000/temps/read/all">Read all<a>
    <a href="http://localhost:8000/temps/read">Read specific ID<a>
    <a href="http://localhost:8000/temps/new">Create new element<a>
    <a href="http://localhost:8000/temps/edit">Edit specific ID<a>
    <a href="http://localhost:8000/temps/delete">Delete specific ID<a>  
{% endblock %}