{% extends 'base.html.twig' %}

{% block title %}Edit specific profondeur{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'profondeur/navbar.html.twig' %}
    <h1> Edit specific profondeur </h1>
    {{ include('profondeur/_form.html.twig', {'button_label': 'Update'}) }}
    {% include 'footer.html.twig' %}
{% endblock %}