{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav">
        <h4>Methods :</h4>
        <a class="nav-btn" href="http://localhost:8000/profondeur/read/all">Read all<a>
        <a class="nav-btn" href="http://localhost:8000/profondeur/read">Read specific ID<a>
        <a class="nav-btn" href="http://localhost:8000/profondeur/new">Create new element<a>
        <a class="nav-btn" href="http://localhost:8000/profondeur/edit">Edit specific ID<a>
        <a class="nav-btn" href="http://localhost:8000/profondeur/delete">Delete specific ID<a>
    </div>
{% endblock %}