{% extends 'base.html.twig' %}

{% block body %}
    <h4>Tables :</h4>
    <a href="http://localhost:8000/profondeur/read/all">Read all<a>
    <a href="http://localhost:8000/profondeur/read">Read specific ID<a>
    <a href="http://localhost:8000/profondeur/new">Create new element<a>
    <a href="http://localhost:8000/profondeur/edit">Edit specific ID<a>
    <a href="http://localhost:8000/profondeur/delete">Delete specific ID<a>  
{% endblock %}