{% extends 'base.html.twig' %}

{% block title %}Read from 'profondeur' table{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'profondeur/navbar.html.twig' %}
    <div class="example-wrapper">
        <h1>Display from 'profondeur'</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Correspond à la table</th>
                    <th scope="col">Profondeur</th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ profondeur.id }}</td>
                    <td>{{ profondeur.correspond }}</td>
                    <td>{{ profondeur.profondeur }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}