{% extends 'base.html.twig' %}

{% block body %}
    <footer>
        <p id="footer">Student project for ISEN Yncrea Ouest Brest school by Julien Marquet and Titouan Allain</p>
    </footer>
{% endblock %}