{% extends 'base.html.twig' %}

{% block body %}
    <footer>
        <p id="footer">Student project for ISEN Yncrea Ouest Brest school by Julien Marquet and Titouan Allain</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <br />
        This work is licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </footer>
{% endblock %}