{% extends 'base.html.twig' %}

{% block body %}
    <h1>Back Office</h1>
    <h3>Tables :</h3>
    <a href="http://localhost:8000/temps/read/all">Time<a>
    <a href="http://localhost:8000/profondeur/read/all">Depth<a>
    <a href="http://localhost:8000/table_plongee/read/all">Table Diving<a>
{% endblock %}