{% extends 'base.html.twig' %}

{% block title %}'DefaultParam' deleted{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('backoffice.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'default_param/navbar.html.twig' %}
    <p> The ID {{ id }} is deleted from 'DefaultParam'</p>
    {% include 'footer.html.twig' %}
{% endblock %}