{% extends 'base.html.twig' %}

{% block title %}Hello DefaultParamController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/lux/project-cir3-framework-2020-2021/symf-cir3-prj/src/Controller/DefaultParamController.php'|file_link(0) }}">src/Controller/DefaultParamController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/lux/project-cir3-framework-2020-2021/symf-cir3-prj/templates/default_param/index.html.twig'|file_link(0) }}">templates/default_param/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
