{% extends 'base.html.twig' %}

{% block title %}Table_plongee deleted{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'table_plongee/navbar.html.twig' %}
    <p> The ID {{ id }} is deleted from table_plongee</p>
    {% include 'footer.html.twig' %}
{% endblock %}