{% extends 'base.html.twig' %}

{% block body %}
    <h4>Tables :</h4>
    <a href="http://localhost:8000/table_plongee/read/all">Read all<a>
    <a href="http://localhost:8000/table_plongee/read">Read specific ID<a>
    <a href="http://localhost:8000/table_plongee/new">Create new element<a>
    <a href="http://localhost:8000/table_plongee/edit">Edit specific ID<a>
    <a href="http://localhost:8000/table_plongee/delete">Delete specific ID<a>
    {% include 'footer.html.twig' %}
{% endblock %}