{% extends 'base.html.twig' %}

{% block title %}Read all from 'table_plongee' table{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('backoffice.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% include 'table_plongee/navbar.html.twig' %}
    <div class="example-wrapper">
        <h1>Display of all 'table_plongee'</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                 </tr>
            </thead>
            <tbody>
                {% for table_plongee in tables_plongee %}
                <tr>
                    <td>{{ table_plongee.id }}</td>
                    <td>{{ table_plongee.nom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}